<script>
  document.addEventListener('DOMContentLoaded', startUp);

  function startUp() {

    var answerInput = document.getElementById("answerInput");
    var wordSplit = [];
    var wrongList = [];
    var questionOrder = [];
    loadList();

  }

  
  
  answerInput.addEventListener("keydown", function(event) {
    if (event.key === "Enter") {
      event.preventDefault();
      if (answerInput.value !== "") textEntered();

    }
    
  });

  
  function shuffleQuestion() {
    questionOrder = [];
    for (var i = 0; i < wordSplit.length; i++) {
      questionOrder.push(i);
    }
    let temp;
    for (var i = 0; i < wordSplit.length-1; i++) {
      var j = Math.floor(Math.random()*(wordSplit.length-i)+i)
      temp = questionOrder[i];
      questionOrder[i] = questionOrder[j]
      questionOrder[j] = temp;
    }
  }

  function nextQuestionNumber() {
    if (wordSplit.length == 0) return -1;
    if (questionOrder.length == 0) shuffleQuestion();
    let next = questionOrder.pop();
    return next;
  }


  function updateWrong() {
    let wrongText = "틀린 단어: ";
    if (wrongList.length == 0) {
      wrongText += "X, ";
    }
    wrongList.forEach((v) => {
      wrongText += v+1 + ", ";
    })
    document.getElementById("wrongList").innerText = wrongText.substring(0,wrongText.length-2);
    return;
  }


  // input word stuff
  // 단어/뜻,뜻2/유의어/반의어/예문(단어:'')
  function loadList() {
    wordSplit = [];
    let rawWordList = document.getElementById("wordList").value;
    wordSplit = rawWordList.split("\n"); // wtf regex: split at \n


    document.getElementById("listLoaded").innerText = "로드 완료 (" + wordSplit.length +"개 성공, " + errorCount + "개 실패)";
    chooseQuestion();
  }

  function noQuestionAvailable() {
    document.getElementById("questionText").innerText = "-"; 
    answerInput.placeholder = "-"; 
    currentAnswer = "-";
    document.getElementById("addMessage").innerText = "낼 문제가 없습니다. 설정과 단어를 확인하세요.";
  }

  var currentWordNumber = 0;
  function chooseQuestion() {

    currentWordNumber = nextQuestionNumber();
    if (currentWordNumber == -1) {
      noQuestionAvailable();
      return;
    }

    questiontoEnglish()
    answerInput.placeholder = currentHint;

  }

  var questionText = document.getElementById("questionText");
  var currentAnswer = "";
  var currentHint = "";

  function shuffleSentences(passage) {
    // Split the passage by sentence delimiters (period, exclamation, question mark)
    let sentences = passage.match(/[^.!?]+[.!?]+/g) || []; 
    
    // Create an array to track the original indices
    let originalOrder = sentences.map((_, index) => index + 1);
    
    // Shuffle sentences and save the shuffle order
    let shuffledSentences = [...sentences];
    let shuffledOrder = [...originalOrder];
    
    for (let i = shuffledSentences.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        
        // Swap sentences
        [shuffledSentences[i], shuffledSentences[j]] = [shuffledSentences[j], shuffledSentences[i]];
        
        // Swap original indices to track the order
        [shuffledOrder[i], shuffledOrder[j]] = [shuffledOrder[j], shuffledOrder[i]];
    }

    // Find the reverse of the shuffle order
    let revertOrder = new Array(shuffledOrder.length);
    shuffledOrder.forEach((val, index) => {
        revertOrder[val - 1] = index + 1;
    });

    // Return the shuffled sentences and the revert order
    return {
        shuffledSentences: shuffledSentences.join('\n\n'),
        revertOrder: revertOrder
    };
  }


  function questiontoEnglish() {  
    let passage = wordSplit[currentWordNumber];
    shuffle = shuffleSentences(passage)
    questionText.innerText = shuffle.shuffledSentences;
    currentAnswer = shuffle.revertOrder;
    currentHint = "";
    //currentHint = word[0];
    //questionText.innerText += " ( " + currentHint + " )";
  }

  var attempt = 0;
  var correct = 0;
  var skipped = 0;
  var combo = 0;
  var comboLast = 0;
  var lastWordNumber = 0;

  function textEntered() {
    if (!answerInput) return;
    let input = answerInput.value;
    answerInput.value = "";
    if (input == '!') {
      forceCorrect()
      return;
    }
    else if (input == '?') {
      skipQuestion()
      return;
    }
    

    if (currentAnswer == "-") {
      chooseQuestion();
      return;
    }
    //답 확인, 새 문제
    
    attempt++;
    lastWordNumber = currentWordNumber;

    answers = currentAnswer.replace(/\s/g, "").replace(/[\(\[].*?[\)\]]/g, "").split(/[,.]+/);
    inputs = input.replace(/\s/g, "").replace(/[\(\[].*?[\)\]]/g, "").split(/[,.]+/)
    
    
    if (inputs.every((e) => answers.includes(e))) {
      correct++;
      document.getElementById("grading").innerText = "정답입니다!";
      if (wrongList.includes(currentWordNumber)) {
        wrongList.splice(wrongList.indexOf(currentWordNumber),1);
      }
      combo++;
    }

    else {
      document.getElementById("grading").innerText = "오답입니다. (입력: " + input + " / 답: " + currentAnswer + ")";
      if (!wrongList.includes(currentWordNumber)) wrongList.push(currentWordNumber);
      comboLast = combo;
      combo = 0;
      
    }

    let statMessage = "맞은 문제 수: " + correct + " / " + attempt + "+" + skipped + " ( " + combo + " 콤보";
    if (combo >= 5) statMessage += "!";
    if (combo >= 10) statMessage += "!";
    statMessage += " )";
    document.getElementById("stats").innerText = statMessage;

    document.getElementById("addMessage").innerText = " ";

    chooseQuestion();
    updateWrong();

  }

  var wordList = document.getElementById("wordList");

  var listSize = 10;
  function shortList() {
    if (listSize > 10) listSize -= 5;
    wordList.cols = listSize*5-3 + "";
    wordList.rows = listSize + "";
  }

  function longList() {
    if (listSize < 20) listSize += 5;
    wordList.cols = listSize*5-3 + "";
    wordList.rows = listSize + "";
  }

  function forceCorrect() {
    if (currentAnswer == "-") {
      chooseQuestion();
      return;
    }
    if (!wrongList.includes(lastWordNumber)) return;
    wrongList.splice(wrongList.indexOf(lastWordNumber),1);
    correct++;
    combo = comboLast;
    combo++;

    let statMessage = "맞은 문제 수: " + correct + " / " + attempt + "+" + skipped + " ( " + combo + " 콤보";
    if (combo >= 5) statMessage += "!";
    if (combo >= 10) statMessage += "!";
    statMessage += " )";
    document.getElementById("stats").innerText = statMessage;

    document.getElementById("addMessage").innerText = "정답 처리되었습니다.";

    updateWrong();
  }

  function skipQuestion() {
    if (currentAnswer == "-") {
      chooseQuestion();
      return;
    }
    skipped++;

    let statMessage = "맞은 문제 수: " + correct + " / " + attempt + "+" + skipped + " ( " + combo + " 콤보";
    if (combo >= 5) statMessage += "!";
    if (combo >= 10) statMessage += "!";
    statMessage += " )";
    document.getElementById("stats").innerText = statMessage;
    
    document.getElementById("addMessage").innerText = "스킵되었습니다.";


    chooseQuestion();
  }

  function resetScore() {
    document.getElementById("grading").innerText = "(정답 여부)"
    wrongList.length = 0;
    updateWrong();
    document.getElementById("stats").innerText = "맞은 문제 수: 0 / 0"
    attempt = 0;
    correct = 0;
    skipped = 0;
    combo = 0;
    comboLast = 0;
    lastWordNumber = 0;

  }

  const baseWordList = document.getElementById("wordList").value
  function resetWord() {
    document.getElementById("wordList").value = baseWordList
  }



</script>
